#divBoard{
    width: 100%;
}

#divBoardContainer{
    height: 100%;
    width: 800px;

    margin: auto;
}

#divBoardItemContainer{
    width: 100%;
}

#divBoardTitle{
    width: 100%;
}

#divBoardTitleDivider{
    height: 3px;
    width: 100%;

    background-color: #999999;
}

#divBoardTitleText{
    width: 100%;

    display: flex;
    flex-direction: row;
}

#divBoardTitleText p{
    margin: 0;
}

.pBoardPostAuthor{
    width: 100px;
}

.pBoardPostDate{
    width: 100px;
}

.pBoardPostTitle{
    width: 550px;

    margin-left: 50px;
}