#divBoard{
    width: 100%;
}

#divBoardContainer{
    height: 100%;
    width: 1200px;

    margin: auto;
}

#divBoardItemContainer{
    width: 100%;
}

#divBoardTitle{
    width: 100%;
}

#divBoardTitleDivider{
    height: 3px;
    width: 100%;

    background-color: #0a154e;
}

#divBoardTitleText{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.pBoardPostAuthor{
    width: 200px;

    margin: 0;
}

.pBoardPostDate{
    width: 200px;

    margin: 0;
}

.pBoardPostTitle{
    width: 750px;

    margin: 0 0 0 50px;
}