#divBoard{
    width: 100%;
}

#divBoardContainer{
    height: 100%;
    width: 800px;
}

#divBoardItemContainer{
    width: 100%;
}

#divBoardTitle{
    width: 100%;
}

#divBoardTitleDivider{
    height: 3px;
    width: 100%;

    background-color: #999999;
}

#divBoardTitleText{
    width: 100%;

    display: flex;
    flex-direction: row;
}