#activityMain, #activityMentor, #activityProject {
    width: 600px;
    height: 250px;
    margin: auto;
    padding: 80px;
    align-items: center;
    text-align: center;
    font-size: small;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#activityMain {
    height: 60px;
    padding-top: 100px;
    padding-bottom: 0px;
    font-style: italic;
    font-size: large;
}

img {
    width: 80px;
    height: 80px;
    padding: 35px;
}

hr {
    width: 50px;
    background-color: gray;
}

span {
    font-weight: bolder;
    font-size: xx-large;
}