.Header{
    height: 80px;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
}

.headerLogo{
    height: 75px;
    width: 75px;

    align-items: center;
}

.headerNav{
    height: 75px;

    align-items: center;
    display: flex;
    flex-direction: row;
}

.headerNavItem{
    height: 75px;
    width: 220px;

    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
}

.headerNavItem:hover{
    background-color: #003c8f;
}

.headerNavItemTitle{
    height: 70px;
    width: 100%;

    background-color: #FFFFFF;
}