.Header{
    height: 100px;
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #0A154E;
    position: fixed;
    top: 0;
}

.headerNav{
    height: 90px;

    align-items: center;
    display: flex;
    flex-direction: row;
}

.headerNavItem{
    height: 90px;
    width: 220px;

    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: #0A154E;
    transition: background-color 0.3s ease-in-out;
}

.headerNavItem:hover{
    background-color: #F5D040;
}

.headerNavItemTitle{
    height: 85px;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #0A154E;
}

.headerNavItemTitle p{
    margin: 0;

    color: #F5D040;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 25px;
}

.headerTitle{
    height: 60px;

    align-items: center;
    display: flex;
    flex-direction: row;
}

.headerTitleText{
    height: 60px;

    margin-left: 15px;

    align-items: center;
}

.headerTitleText p{
    height: 60px;

    margin: 0;

    color: #F5D040;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}